#board {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
}

body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}

canvas {
    align-self: center;
    margin: 0;
}

.hidden {
    display: none;
}
